h1 {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    background-color: gold;
}

body div img {
max-width: 25%;
margin: 3rem;
display: block;
margin-left: auto;
margin-right: auto;
}


figure {
    background-color: black;
}
figcaption {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body {
    background-color: black;
    background-image: url('/images/5732428 (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
