.nav-list {
  display: flex;
  justify-content: center;
}

@font-face {
    src: url(/fonts/SerifGothicStd-ExtraBold.otf);
    font-family: Star Wars;
}

.nav-list {
    list-style-type: none;
}
.nav-list a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  font-size: xx-large;
  font-family: Star Wars;
  margin-bottom: 1rem;
  
  
}

.nav-list a:hover {
    color: gold;
}



 div img {
  max-width: 25%;
  margin: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



figcaption {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: Star Wars;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: white;
  background-repeat: repeat;
  
  background-image: url("/images/stars.jpg");
  
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: white;
  font-size: 2rem;
}

#contact h1, h4 {
  padding-bottom: 2rem;
  color: black;
}

#contact div {
  display: flex;

}



#contact div a {
  padding: 2rem;
  font-size: 1.5rem;
  color: black;
  /* text-shadow: 2px 2px 1px #1f1f1f; */
  transition: transform 0.3s ease-out;
}

#contact div a:hover {
  transform: translateY(-8px)
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: x-large;
  color: white;
}
