* {
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: white;
    
}



.mainContainer {
    display: flex;
    
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.nav {
    margin-left: 2em;
   
    
}

.box {
    background-color: white;
    font-size: large;
    text-align: center;
    
}

.shipName {
    font-size: xx-large
}

body {
    background-color: black;
    background-image: url('/images/5732428 (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body div img {
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
a {
    font-size: large;
    color: gold;
   
}

a li {
    background-color: black;
    padding: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 a:hover {
    color: rgb(46, 46, 46);
 }