* {
    margin: 0;
    box-sizing: border-box;
}

header  {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: black;
}

button {
    font-size: x-large;
    background-color: gold;
    border-radius: 10px;

}

button:hover {
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px;
}
figure img {
    width: 200px;
}