* {
    margin: 0;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    justify-content: center;
    
    
  }

  
  @font-face {
      src: url(/fonts/SerifGothicStd-ExtraBold.otf);
      font-family: Star Wars;
  }
  
  .nav-list {
      list-style-type: none;
  }
  .nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: xx-large;
    font-family: Star Wars;
    margin-bottom: 1rem;
    
    
  }
  
  .nav-list a:hover {
      color: #FFCC04;
  }

  .header-image {
    max-width: 25%;
    padding-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


header  {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    
}

#searchBar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: x-large;
    background-color: gold;
    border-radius: 10px;
    font-family: Star Wars;

}

button:hover {
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px;
    min-height: 100vh;
    
}

figure img {
    width: 150px;
    margin: .75rem;
    border-radius: 1rem;
    
}



/* img {
    border: solid;
    color: gold;

} */

figcaption {
    color: white;
    margin: .75rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    background-repeat: repeat;
    background-image: url("/images/stars.jpg");
    
    
  }

  html {
      min-height: 100%;
  }
  
/* .modal {
    background-color: rgb(0, 0, 0);
    overflow: auto;
} */

.modal img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #0A1734;
    font-size: 2rem;
}

  #contact h1, h4 {
    padding-bottom: 2rem;
    color: white;
}

#contact div {
    display: flex;

}



#contact div a {
    padding: 2rem;
    font-size: 1.5rem;
    color: #f2f1f2;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

#contact div a:hover {
    transform: translateY(-8px)
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: x-large;
}

