* {
    margin: 0;
    box-sizing: border-box;
}

header  {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    
}

button {
    font-size: x-large;
    background-color: gold;
    border-radius: 10px;

}

button:hover {
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px;
}
figure img {
    width: 150px;
    margin: .75rem;
    border-radius: 1rem;
    
}


body {
    background-color: black;
    background-image: url('/images/5732428 (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    border: solid;
    color: gold;

}

figcaption {
    color: white;
    margin: .75rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

