*{
    margin: 0;
    box-sizing: border-box;
}
header {
    font-family: we;
    text-align: center;
    margin: 2rem;
    font-size: xx-large;
}

.Senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

figure {
    width: 160px;
    flex-direction: column;
    display: flex;
    margin: 1rem;
    
}
figcaption {
    text-align: center;
}