*{
    margin: 0;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    justify-content: center;
    
    
  }

  
  
  
  .nav-list {
      list-style-type: none;
  }
  .nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: xx-large;
    font-family: garamond;
    
    
    
  }
  
  .nav-list a:hover {
      color: #99241F;
  }




header {
    color: white;
    font-family: garamond;
    font-size: xx-large;
    text-align: center;
    background-color: #0A1734;
    padding: .5rem;
}

header img {
    width: 800px;
    margin: 3rem;
}



button {
    font-size: xx-large;
    background-color: #99241F;
    margin: 2rem;
    font-family: garamond;
    padding: .5rem
}

body {
    color: black;
}

.Senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

figure {
    width: 160px;
    flex-direction: column;
    display: flex;
    margin: 1rem;
    
}
figcaption {
    text-align: center;
    color: black;
    
}
figure img {
    
    border: solid;
    border-color: #99241F;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  }

  .modal img {
      width: 300px;
  }

  main {
      min-height: 100vh;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #0A1734;
    font-size: 2rem;
}

  #contact h1, h4 {
    padding-bottom: 2rem;
    color: white;
}

#contact div {
    display: flex;

}



#contact div a {
    padding: 2rem;
    font-size: 1.5rem;
    color: #f2f1f2;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

#contact div a:hover {
    transform: translateY(-8px)
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: x-large;
}


 